.App {
  background-color: red;
}

.QuoteBox {
  height: 50vh;
  width: 50vw;
  display: grid;
  grid-template-rows: 5fr 1fr;
  border-radius: 5px;
}

.quotes-wrapper {
  display: grid;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  justify-items: center;
  font-size: 1.5em;
}

.text {
  padding: 5px;
  text-align: center;
}

.bottom-quotebox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.TweetQuote {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
